#select{
    width: 45px;
}

.classic{
  position:relative;
  top: +2px;
  display: inline-block;
  margin:5px;
}

#gallery{
    background-color:#F4F4F4;
}

#form1{
    z-index:1px;
}

div.instruction {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

div.instruction h6{
    -moz-text-align-last: left;
    text-align-last: left;
}

div.instruction li{
    margin-left: 2.5em;
}

div.playlistButt {
    display: inline-block;
    vertical-align:middle;
}

div.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
}

div.playlistBox {
    text-align: center;
    width: 99%;
    margin: auto;
    margin-top: 100px;
}

#buttonsPlaylist {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 150px;
}

div.img {
    margin: 2px;
    padding: 5px;
    border: 3px ridge #51d4c2;
    height: 255px;
    width: 200px;
    position: relative;
    bottom: +20px;
    display: inline-block;
    vertical-align:middle;
}

div.container3 {
    position: absolute;
    left: 50px;
    top: 20px;
}

div.container3 img {
    border: 5px ridge #51d4c2;
}

div.container2 {
    position: relative;
}


#privacy{
    position: absolute;
    right: 50px;
    top: 50px;
}

#logout{
    position: absolute;
    right: 50px;
    top: 80px;
}

#instruction{
    position: absolute;
    right: 50px;
    top: 20px;
    font-size: 20px;

}

#evaluation{
    position: absolute;
    right: 50px;
    top: 100px;
    font-size: 20px;

}

.activeImg {
    box-shadow:0px 12px 22px 1px #B22222;
}

div.img img {
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
}


div.descArt {
    text-align: middle;
    font-weight: normal;
    color: #008080;
    
}

div.descTrack {
    text-align: middle;
    font-weight: normal;
    color: #66CDAA;
}


#songIns {
    position: relative;
    border: 5px ridge #51d4c2;
    height: 50px;
    width: 200px;
    background-color:#F4F4F4;
}


#index {
    background-image: url("../images/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px)
and (max-width: 480px) {
    #index, #gallery {
        background-image: url("../images/phone_background_opacity.jpg");
        background-size: auto;
    }
    #logout {
        top: 20px;
        right: 30px;
    }
    #privacy {
        top: 20px;
        right: 90px;
    }
    
    #instruction{
        top: 20px;
        right: 180px;
        font-size: 16px;
    }
    #buttonsPlaylist {
        margin-top: 90px;
    }
    div.container2 {
        margin-top: 50px;
    }
    div.container3{
        visibility: hidden;
    }
    div.instruction {
        width: auto;
    }
    
    div.instruction h6{
        text-align: left;
    }
    a {
        color: #11bda6;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
    #index #gallery {
        background-image: url("../images/phone_background_opacity.jpg");
        background-size: auto;
    }
     #logout {
        top: 20px;
        right: 30px;
    }
    #privacy {
        top: 20px;
        right: 90px;
    }
    
    #instruction{
        top: 20px;
        right: 180px;
        font-size: 16px;

    }
    #buttonsPlaylist {
        margin-left: 50px;
    }
    div.container2 {
        margin-top: 50px;
    }
    div.container3{
        visibility: hidden;
    }
    a {
        color: #11bda6;
    }
    div.instruction {
        width: auto;
    }
    
    div.instruction h6{
        text-align: left;
    }
}`

.hero-unit{
    padding: 10px;
}


.centered {
    text-align:center;
}

h1 {
    text-align:center;
}

input[type="button"] {
    color: black;
    font-weight:bold;
    height: 40px;
    width: auto;
}

#border_radius {
    border-radius: 59px 59px 59px 59px;
    -moz-border-radius: 59px 59px 59px 59px;
    -webkit-border-radius: 59px 59px 59px 59px;
    border: 5px ridge #51d4c2;
    background-color: #adede8;
    max-width: 99%;
    text-size-adjust: 67%;
    -moz-text-size-adjust: 67%;
    -webkit-text-size-adjust: 67%;
    -ms-text-size-adjust: 67%;
}

input {
    width: 200px;
    height: 28px;
}

h2 {
    text-align:center;
}

h3 {
    text-align:center;
}

h4 {
    text-align:center;
    font-size: 20px;
    margin:20px;
    top:0px;
    padding-left: 5px;
    padding-right: 5px;
    -moz-text-align-last: center;
    text-align-last: center;
}

h5 {
    text-align: center;
    font-size: 19px;
    padding-left: 25px;
}

h6 {
    text-align:justify;
    font-size: 20px;
    top:1px;
    padding-left: 5px;
    padding-right: 5px;
    -moz-text-align-last: center;
    text-align-last: center;
}

.error {
    color: #FF0000;
}


span{
    margin-right:  5px;
    margin-left:  10px;
}



td.quest{
    padding-left: 10px;
    height:40px;
    width:300px;
}

td.quest1{
    padding-left: 10px;
    height:40px;
    width:520px;
}
#tableContainer-1 {
    height: 100%;
    width: 100%;
    display: table;
}
#tableContainer-2 {
    vertical-align: middle;
    display: table-cell;
    height: 100%;
}
#myTable {
    margin: 0 auto;
    font-size:15px;
    font-size-adjust: 11px;
}


tr{
    background-color: #DCDCDC;
}

tr:nth-child(even) {
    background-color: #FFFFFF;
}

input[type="text"] {
    
    width: 35px;
    height: 28px;
    font-size: 14px;
    margin-bottom:  0px;
}

input[type="radio"] {

    margin-right:  5px;
    margin-left:  10px;
    margin-bottom:  0px;
}

textarea{
    width: 300px;
    height: 100px;
}

#all_results {
    text-align:center;
}

#info {
    margin:20px;
    text-align:center;
    font-size:18px;
}

#footer {
    margin-top:10px;
    padding-bottom:10px;
    text-align:center;
    font-size:12px;
}

.sp-album-art {
    width:300px;
    height:300px;
}

.sp-title {
    width:280px;
    height:28px;
    font-size:18px;
    padding-left:8px;
    padding-right:8px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.sp-info {
    text-align:center;
}

.sp-controls {
    margin-top:4px;
}

.sp-artist {
    text-align:center;
    width:280px;
    height:28px;
    font-size:14px;
    padding-left:8px;
    padding-right:8px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.sp-player {
    background-color:#111111;
    color:#ffffff;
    width:300px;
    padding-bottom:8px;
    margin-bottom:8px;
    margin-top:8px;
    margin-left:auto;
    margin-right:auto;
}
#findTrack{
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 5px ridge #51d4c2;
    background-color: #adede8;
    position: relative;
    width: 56px;
    height: 56px;
    color: black;
    font-weight:bold;
    font-size:20px;
}